p {
  margin: 0.5em;
}

#portrait {
  border-radius: 40px;
}

.row-to-col {
  display: flex;
  flex-direction: row;
}

.col-to-row {
  display: flex;
  flex-direction: column;
}

.center {
  width: fit-content !important;
  margin: auto;
  margin-right: 0;
  height: fit-content;
}

.vert-center {
  display: flex;
  flex-direction: column;
}

.pl-0 {
  padding: 0;
}

.pr-0 {
  padding-right: 0 !important;
}

.pv-1 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

h4 {
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0.5em;
}

@media only screen and (max-width: 350px) {
  #photo-col {
    width: 60% !important;
    display: block;
    padding-bottom: 1em;
    margin: auto;
  }

  #link-col {
    width: 100% !important;
  }

  .row-to-col {
    flex-direction: column;
  }
}

@media only screen and (min-width: 351px) and (max-width: 410px) {
  .row-to-col {
    height: 230px !important;
  }
}

@media only screen and (max-width: 576px) {
  .row-to-col {
    max-height: 230px !important;
  }

  #portrait {
    height: 100% !important;
    width: auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .row-to-col {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .row-to-col {
    flex-direction: column;
    padding: 0 1em !important;
    padding-left: 0 !important;
  }

  .col-to-row {
    flex-direction: row;
  }

  .pl-0 {
    padding-left: 0;
  }
  .col-md-12 {
    flex: 0 0 auto;
  }
  #link-col {
    padding-top: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  #portrait,
  #photo-col {
    width: 209px !important;
    height: 250px !important;
  }
}